.canLookDiv {
    border: 1px solid rgb(0, 0, 0)
}

.main {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* text-align:center; */
    border: 1px solid rgb(185, 185, 185);
    z-index: -1;
}

.topFileName {
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    width: 20%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(185, 185, 185);
    left: 40%;
    right: 40%;
    z-index: 2;
}

.leftDiv {
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    /* width:20%; */
    z-index: 0;
    /* 实现可拖动放大缩小 */
    /* overflow:auto; */
    /* resize:horizontal; */
    /* cursor: ew-resize; */
    /* border:none; */
}

.fileList ul{
    list-style-type: none;
    padding-left: 0px;
}

.fileList li {
    cursor: pointer;
    /* margin: ; */
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* .fileList li:hover {
    background-color: #DDD
} */

.rightDiv {
    background-color: rgb(255, 255, 255);
    position: absolute;
    overflow:auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    /* width:80%; */
    z-index: -1;
}

.rightDiv::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgb(185, 185, 185);
}

.rightDiv::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 2px;
}

.rightDiv::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185);;
    border-radius: 2px;
}

.rightDiv::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);;
}

.rightDiv::-webkit-scrollbar-corner {
    background: rgb(185, 185, 185);;
}


.cutOff {
    border: 0.5px solid rgb(185, 185, 185);
    width: 0px;
    position: absolute;
    top: 0px;
    bottom: 00px;
    /* left:20%; */
    cursor: ew-resize;
}

/*>>>>>>>>>>>>> 文件树css  >>>>>>>>>>>> */

.example-tree-invisible {
    display: none;
}

.example-tree{
    background-color: rgb(245, 245, 245);
    margin-left:-10px;
}

.example-tree ul, .example-tree li {
    padding-left: 0px;
    padding-top : 0px;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:7px;
    padding-bottom:0px;
    list-style-type: none;
}

.mat-tree-node {
    display: flex;
    align-items: center;
    min-height: 16px;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.tree-node-li:hover{
    background-color: #DDD;
}

.tree-node-li{
    cursor: pointer;
}

/*<<<<<<<<<< 文件树css <<<<<<<<<<<<<<<<< */

.icon {
    flex: 1;
    width: 16px !important;
    height: 16px !important;
}
.iconDiv{
    height: 16px !important;
    width: 16px !important;
    float: left;
}